[project]
	description = Linux kernel source tree
	state = hidden
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cyril Bur (cyrilbur-ibm)
[access "refs/for/refs/*"]
	read = group user/Cyril Bur (cyrilbur-ibm)
	push = group user/Cyril Bur (cyrilbur-ibm)
	label-Code-Review = -2..+2 group user/Cyril Bur (cyrilbur-ibm)
	label-Verified = -1..+1 group user/Cyril Bur (cyrilbur-ibm)
	rebase = group user/Cyril Bur (cyrilbur-ibm)
	removeReviewer = group user/Cyril Bur (cyrilbur-ibm)
	submit = group user/Cyril Bur (cyrilbur-ibm)
[access "refs/heads/*"]
	read = group user/Cyril Bur (cyrilbur-ibm)
	create = group user/Cyril Bur (cyrilbur-ibm)
	push = +force group user/Cyril Bur (cyrilbur-ibm)
	pushMerge = group user/Cyril Bur (cyrilbur-ibm)
[access "refs/tags/*"]
	push = +force group user/Cyril Bur (cyrilbur-ibm)
	pushTag = group user/Cyril Bur (cyrilbur-ibm)
	pushSignedTag = group user/Cyril Bur (cyrilbur-ibm)
